/* Capa de fondo verde claro (más ancha) */
.background-layer {
    width: 400px;
    background-color: #8E9C45; /* Verde claro */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centra la capa */
    padding: 20px; /* Añade padding para dar espacio entre las capas */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

/* Capa superior verde oscuro con imagen centrada */

.top-layer {
    background-color: #758039; /* Verde oscuro */
    padding: 20px 0;
    text-align: center;
    border-radius: 50px 50px 0 0;

        img {
        max-width: 70%;
        height: 300px;
        border-radius: 5px;
        border-radius: 50px 50px 0 0;
        }    
}
/* Línea divisoria */
.divider {
    margin: 5px 0;
}

/* Capa de texto centrado con fondo verde oscuro */
.text-layer {
    background-color: #758039; /* Verde más oscuro */
    padding: 10px;
    text-align: center;
    color: white;

        p {
        text-transform: uppercase;
        font-size: 18px;
        }
}

.tabla-sin-bordes {
    border-collapse: collapse;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;

        td {
        padding: 3px;
        text-align: center;
        border: none; /* sinm bordes */
        background-color: #8E9C45;
        font-size: 12px;
        color:black;
        }

        td:hover {
        background-color: #758039;
        cursor: pointer;
        font-size: 12px;
        color: white
        }
}

/* Capa de texto adicional con verde oscuro */
.additional-text-layer {
    background-color: #758039; /* Verde oscuro */
    padding: 20px;
    color: white;
    text-align: center;

        p {
        font-size: 16px;
        border-radius: 50px 50px 0 0;  
        }
}

.imagen-verde {
    width: 300px;
    height: auto300;
    filter: sepia(1) saturate(0); /* tono verdoso */
    transition: all 0.3s ease;
    border-radius: 50px 50px 0 0; /* pa radio arriba izq-der */
    
        &:hover {
        filter: none; /* imagen original */
        transform: scale(1.05); /* un poco más grande */
        }
}

audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
    background-color: #5e672b;
    border-radius: 50px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #758039;
    color: #000;
    width: 30px;
}

/* CSS CARD FINAL */