.navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #85a942;
        padding: 15px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        border-radius: 0 0 0 80px; 
}

.nav-list {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 0;
        padding: 0;

                li a {
                color: #758039;
                text-decoration: none;
                font-weight: bold;
                font-family: sans-serif;
                transition: color 0.3s;
                }

                &:hover {
                color: #85a942;
                }
}



/* pa que el contenido no quede debajo del menú */
main {
        margin-top: 80px; /* ajusta según el alto del navbar */
}
/* Navbar responsive */
.navbar {
        position: fixed;
        width: 100%;
        height: 50px;
        background: linear-gradient(90deg, #9cac45, #85a942);
        color: white;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.navbar-container {
        max-width: 1200px;
        margin: auto;
        padding: 1px 2px;
        display: flex;
        justify-content:space-around;
        align-items: center;
}

.logo-container {
        display: flex;
        flex-direction: column;
}

.logo {
        font-family: 'Georgia', serif;
        font-size: 35px;
        font-weight: bold;
        color: #485022;
        margin-top: -10px;
}

.logo:hover {
        text-shadow:
        1px 0 black,
        -1px 0 white,
        0 1px white,
        0 -1px white;
}


.sublogo {
        font-family: Georgia, serif;
        font-size: 14px;
        font-weight: lighter;
        color: black wheat;
        margin-top: -8px;
        padding-left:2px;

        &:hover {
        text-shadow:
        1px 0 black,
        -1px 0 white,
        0 1px white,
        0 -1px white;
        }
}

.nav-list {
        list-style: none;
        display: flex;
        font-size:15px;
        gap: 25px; /*espacio entre elementos*/

                li a {
                color: #4f5626;
                text-decoration: none;
                font-weight: 600;
                transition: color 0.3s ease;
                }

                li a:hover {
                color: #758039;
                text-shadow:
                1px 0 white,
                -1px 0 white,
                0 1px white,
                0 -1px white;
}
}

.menu-toggle {
        display: none;
        font-size: 20px;
        background: none;
        color: white;
        border: none;
        cursor: pointer;
}

/* Responsive Estilos */
@media (max-width: 768px) {
.nav-list {
        display: none;
        flex-direction: column;
        background-color: #85a942;
        border: 2px solid #8E9C45;
        position: absolute;
        top: 60px;
        right: 30px;
        width: 120px;
        height: 120px;
        padding: 10px;
        border-radius: 0 0 100px 20px;  
}

.nav-list.show {
        display: flex;
        border: 2px solid #c3d372;
}

.menu-toggle {
        display: block;
}
}