/* CSS CARD INICIO */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5e672b;
}

.nombre-decorado {
    text-transform: uppercase;         /* MAYÚSCULAS */
    letter-spacing: 2px;              
    text-align: center;               
    color: white;
    padding: 5px;                     
    margin-top: 5px;                 
    position: relative;               /* para linea decorativa */
    font-weight: bold;
    font-size: 1.2rem;
}

.nombre-decorado:hover {
    filter: none; /* Img original */
    transform: scale(1.05); /* Un poco más grande */
}
/* Línea decorativa por encima del nombre */
.nombre-decorado::before {
    content: "";
    position: absolute;
    top: -10px;                       
    left: 50%;
    transform: translateX(-50%);
    width: 60%;                       
    height: 2px;
    background-color: white;         
}

/* Para centrar todas las tarjetas horizontalmente */
main {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;         /* para quelas tarjetas bajen a la siguiente fila si no caben en una misma fila */
    gap: 20px;               /* eespacio entre tarjetas */
    min-height: 100vh;       
    padding: 2rem;
    box-sizing: border-box;
}

/* Para cambiarr tamaño de las tarjetas */
.container {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom:5px;
}

.container-index {
    width: 400px;
    border-radius: 80px 0 60px 0;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom:5px;
}
/* Para que el contenido no quede oculto detrás del header */
main {
    margin-top: 80px;
    padding: 10px;
}

.carrusel-container {
    width: 90%;
    max-width: 360px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carrusel {
    margin-top:5px;
    display: flex;
    gap: 1px;
    padding: 5px;
}

.tarjeta {
    transform: scale(0.8);
    flex: 0 0 auto;
    border-radius: 2px;
    scroll-snap-align: start;
    min-height: 100px;
}

/* Estilo de la barra scroll */
::-webkit-scrollbar {
    width: 10px; /* ancho del scroll vertical */
    height: 10px; /* alto del scroll horizontal (si aplica) */
}

/* Color de fondo del área del scroll */
::-webkit-scrollbar-track {
    background: #758039;
}

/* Color del scroll que se mueve */
::-webkit-scrollbar-thumb {
    background: #85a942;
    border-radius: 5px;
}

.titulo-carrusel {
    margin-bottom: 0.5rem;
    background: linear-gradient(90deg, #9cac45, #85a942);

        h2 {
        font-size: 2rem;
        font-weight: bold;
        }
}

.titulo-index {
    background: linear-gradient(90deg, #9cac45, #85a942);
    
        h2 {
        background: linear-gradient(90deg, #9cac45, #85a942);
        font-size: 18px;
        }
}

.h2-index{
    margin: 25px;
    text-align:justify;
    font-size:18px;
    color:#4f5816;
}

button {
    background-color: #758039;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8E9C45; 
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }